{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 p-5">
    <form action="/add_turma" method="post" class="w-100 w-md-50 p-4 border rounded-lg bg-light shadow-sm">
        <div class="mb-3">
            <label>Nome da Turma</label>
            <input type="text" name="nome" placeholder="Nome da Turma" class="form-control" required/>
        </div> 
        <input type="submit" value="Submit" class="btn btn-primary mb-3"/>  
    </form> 
</div>
{% endblock content %}
